body {
  overflow-x: hidden;
  webkit-tap-highlight-color: #eee;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.text-muted {
  color: #777777;
}
.text-primary {
  color: #d55600;
}
p {
  font-size: 14px;
  line-height: 1.75;
}
p.large {
  font-size: 16px;
}
a {
  color: #d55600;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
  color: #a24100;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
h1 a.page-link,
h2 a.page-link,
h3 a.page-link,
h4 a.page-link,
h5 a.page-link,
h6 a.page-link {
  color: #dddddd;
  margin-right: 0.5em;
}
.main-body h4 {
  border-top: 1px solid #f7f7f7;
  margin-top: 2em;
  padding-top: 2em;
}
.main-body h4:first-of-type {
  border-top: none;
  margin-top: 10px;
  padding-top: 0;
}
.img-centered {
  margin: 0 auto;
}
.bg-light-gray {
  background-color: #f7f7f7;
}
.bg-darkest-gray {
  background-color: #222222;
}
.btn-primary {
  color: white;
  background-color: #d55600;
  border-color: #d55600;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #a24100;
  border-color: #983d00;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #d55600;
  border-color: #d55600;
}
.btn-primary .badge {
  color: #d55600;
  background-color: white;
}
.btn-xl {
  color: white;
  background-color: #d55600;
  border-color: #d55600;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  color: white;
  background-color: #a24100;
  border-color: #983d00;
}
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  background-image: none;
}
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
  background-color: #d55600;
  border-color: #d55600;
}
.btn-xl .badge {
  color: #d55600;
  background-color: white;
}
.alert-system {
  margin: 0;
  padding: 2.5em;
  border-radius: 0;
  top: 110px;
  position: relative;
}
ol {
  padding-left: 1.7em;
}
ol li {
  margin-bottom: 0.5em;
}
ol li .codeblock {
  margin-top: 0.5em;
}
.navbar-default {
  background-color: #222222;
  border-color: transparent;
}
.navbar-default .navbar-brand {
  margin-top: -11px;
  color: #d55600;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
  color: #a24100;
}
.navbar-default .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-default .navbar-toggle {
  background-color: #d55600;
  border-color: #d55600;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #d55600;
}
.navbar-default .nav li a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
  color: white;
  outline: none;
}
.navbar-default .navbar-nav > .active > a {
  border-radius: 0;
  color: #d55600;
  background-color: white;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #d55600;
  background-color: white;
}
.navbar-default .form-control {
  border: none;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
.navbar-default .btn {
  border: none !important;
  padding: 7px 12px;
  background-color: #a24100;
  color: white;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: #d55600;
    background-image: url(../img/background/orange-blobs.png);
    padding: 15px 0;
    opacity: 1;
    border: none;
  }
  .navbar-default .navbar-nav > .active > a {
    border-radius: 3px;
  }
}
section {
  padding: 80px 0;
}
section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  section {
    padding: 150px 0 0 0;
  }
}
.well .form-group:last-of-type {
  margin-bottom: 0;
}
code {
  background: #F5F5F5;
}
.codeblock {
  background: #F5F5F5;
  padding: 10px;
}
.codeblock code {
  background: none;
}
.pro-tip {
  margin-left: 0;
  padding: 0.25em;
  padding-left: 1em;
  font-size: 1em;
  border-left: 5px solid #ffa96f;
}
.pro-tip:before {
  content: 'ProTip:';
  font-weight: bold;
  display: block;
}
.divider {
  margin-bottom: 40px;
}
footer {
  padding: 25px 0;
}
footer span.copyright {
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #d55600;
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active {
  outline: none;
}
::-moz-selection {
  text-shadow: none;
  background: #eee;
}
::selection {
  text-shadow: none;
  background: #eee;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
#component-search {
  min-height: 500px;
}
#component-search h1 {
  font-size: 1.3em;
  margin-bottom: 1.7em;
  margin-top: 1.15em;
}
#search-searching {
  height: 0;
  overflow: hidden;
  transition: height 0.5s;
}
#search-searching .search-box {
  height: 50px;
  background: #FCFCFC;
  border: 1px solid #F5F5F5;
  line-height: 50px;
  text-align: center;
}
#search-searching.searching {
  height: 75px;
  transition: height 0.5s;
}
#search-results li .icon {
  margin-right: 0.5em;
  display: none;
}
#search-results li .icon.icon-home {
  display: inline-block;
}
#search-results li.type-module .icon-module {
  display: inline-block;
}
#search-results li.type-driver .icon-driver {
  display: inline-block;
}
#search-results li.type-skin .icon-skin {
  display: inline-block;
}
#search-results li .panel-body p:last-of-type {
  margin-bottom: 0;
}
